.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  }
  
  .open-sidebar-button {
    color: #fff;
    cursor: pointer;
  }
  
  .open-sidebar-button:hover {
    color: #ccc;
  }
  
  .logout-button {
    background-color: #111;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #575757;
  }
  
  .logout-button:focus {
    outline: none;
  }
  