.filbut{
    color: white;
    background: linear-gradient(to top, #257df8, #388cff, #2e86ff, #2380ff, #1775f0);
    border: none;
    border-radius: 0.75em; /* Adjusted border-radius for responsiveness */
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1); /* Adjusted box-shadow for responsiveness */
    transition: transform 0.2s, box-shadow 0.2s;
}

.datebar{
    width: 80px;
    width: 20%;
}

.transparent-arrow {
    opacity: 0.3; /* Adjust the opacity value as needed */
  }
  