.title-sdp{
    background-color: #268fccd3;
}

.sdp-dash{
    background-color: #b1e8f4;
}
.button-dwn {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: white;
    background: linear-gradient(to top, #257df8, #388cff, #2e86ff, #2380ff, #1775f0);
    border: none;
    border-radius: 0.75em; /* Adjusted border-radius for responsiveness */
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1); /* Adjusted box-shadow for responsiveness */
    transition: transform 0.2s, box-shadow 0.2s;
}
@media (max-width: 768px) {
    .button-dwn {
        padding: 0.5em 1em; /* Adjusted padding for smaller screens */
        font-size: 0.875em; /* Adjusted font-size for smaller screens */
    }
}

@media (max-width: 576px) {
    .button-dwn {
        padding: 0.375em 0.75em; /* Further adjusted padding for even smaller screens */
        font-size: 0.75em; /* Further adjusted font-size for even smaller screens */
    }
}